*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: #444;}
a:hover{text-decoration: underline; transition: all 0.4s; color: #e5378e;}
body{overflow-x: hidden; width: 100vw; height: auto;}
body, a, li, p, div{
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;color: #444;
    }

/* header */
header{display: flex; justify-content: space-between; align-items: center;
    position: fixed; z-index: 999999;
    padding: 0 50px;
    top: 10px;
    width: 100vw;
    text-decoration: none;
}
header ul{display: flex;}
header ul li{margin-left: 8px;}

.nav{width: 455px;}
.nav li{}
.nav li a{display: block; width: 110px; height: 30px; text-align: center;
          line-height: 30px; font-size: 20px;}

/* 상단비쥬얼 영역 */
.mainimg{position: relative; width: 100vw; height: 100vh; overflow: hidden;  }
    /* 1. 상단 비쥬얼 4개 */
    .slideshow_slides{position: absolute; width: 100vw; height: 100%; }
        .slideshow_slides a{position: absolute; width: 100vw; height: 100vh;}
        .slideshow_slides a img{width: 100vw; height: 100vh; object-fit: cover;}
        /* 동영상 4번째 */
        .video{position: absolute; width: 100%; height: 100vh; text-align: center;}
            .video .textv{position: absolute; left:50%; transform: translateX(-50%);  bottom: 150px; z-index: 99999999; font-size: 60px; color:#ccc; font-size: 'Bebas Neue'; }
            video{width: 100%;}

/* 2. 좌우롤링 버튼 */
.slideshow_nav a{ position: absolute; width: 60px; height: 60px;
left:50%; top:50%; background: url('../img/wheel_lr.png') no-repeat; text-indent: -55555em;}
.slideshow_nav a.disabled{display: none;}
.slideshow_nav a.prev{background-position: 0 0; margin-left: -870px;}
.slideshow_nav a.next{background-position: -68px 0; margin-left: 870px;}

/* 3. 페이지네이션 */
.indicator{position: absolute; width: 90px; height: 20px; right: 90px; bottom: 50px;
display: flex; justify-content: center;}
    .indicator a{width: 17px; height: 17px; margin: 0 3px; background: url('../img/pagination.png') no-repeat; text-indent: -55555em;}
    .indicator a.active{background-position: -17px 0;} /* 이미지의 x축 y축 */

.wheel{position: absolute; width: 55px; height: 35px; left: 50%; transform: translateX(-50%); bottom: 25px;} 

.cont_title{position: absolute; font-size: 32px; font-weight: 500; color: #141414; left: 3vw; top: 55px; z-index: 77777;}

/* cont1 */
#cont1{position: relative; width: 100vw; height: 100vh;
       display: flex;
}
#cont1 aside{width: 30%; height: 100%; background-color: pink; font-size: 75px; color: #ca5c93; padding: 40px;}
#cont1 section{flex: 1; height: 100%; background-color: orange; position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center;}

#cont1 section .cont_title{position: absolute; top: 50px; left: 150px;}
#cont1 section .cont_wrap{width: 1000px; display: flex; flex-wrap: wrap; gap: 50px; justify-content: center;}
.cont1_img{margin-bottom: 10px; width: 300px; height: 280px; overflow: hidden;}
.cont1_img_img{width: 300px; height: 280px;}
.cont1_img_img:hover{transform: scale(1.5, 1.5); transition: all 0.4s;}
.cont1_txt:hover{color: #e5378e; text-decoration: underline;}

/* cont2 */
#cont2{position: relative; width: 100vw; height: 100vh; background-color: antiquewhite;}
    .cont2_txt1{position: absolute; font-size: 250px; font-weight: 900; color: #e5378e; line-height: 320px;}
.cont22{position: absolute; left: 65vw; top: 190px; width: 500px;}
    .cont22_img{width: 500px; height: 580px; overflow: hidden; margin-bottom: 10px;}
    .cont22_img img{width: 500px; height: 580px;}
    .cont22_img img:hover{transform: scale(1.5, 1.5); transition: all 0.4s;}
    .cont2_txt2 a{width: 500px; font-size: 16px; line-height: 24px; margin-top: 8px;}

/* cont3 */
#cont3{position: relative; width: 100vw; height: 100vh;}
    .sub3img{position: absolute; width: 100vw; height: 100vh;}
    .cont3_btn a{position: absolute; width: 270px; height: 50px; left: 50%; transform: translateX(-50%); bottom: 80px; border-radius: 30px; border: 2px solid #3b17a8; text-align: center; line-height: 50px; color: #3b17a8;}
    .cont3_btn a:hover{background-color: #3b17a8; color: #fff;}

/* cont4 */
#cont4{position: relative; width: 100vw; height: 100vh;}
    .container{display: grid; height: 100vh; grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(3, 33.33333vh);}

    .item{}
    .item img{width: 100%; height: 100%; object-fit: cover;}

/* cont5 */
#cont5{position: relative; width: 100vw; height: 100vh;}

/* footer */
footer{display: flex; justify-content: space-between; padding: 20px 50px; width: 100vw; height: 90px; background-color: #222; color: #ccc; font-size: 14px;}
    .foot1{width: 75%; color: #f4f4f4;}
    .foot2{color: #f4f4f4;}

/* top */
.gotop a{position: fixed ; right: 40px; bottom: 80px; z-index: -999999; width: 60px; height: 60px; border-radius: 50%; background-color: #ccc; color: #222; font-weight: 700; text-align: center; line-height: 60px; opacity: 0.5;}

.gotop a:hover{opacity: 1; background-color: #e5378e; color: #141414;}