/* 초기화 */
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}
body, div, p, h1, h2, a, li{font-family: "Noto Sans KR", sans-serif; font-weight: 400; line-height: 26px; color: #666;}

/* 컨텐츠 시작 */
.wrap{width: 1200px; margin: 60px auto;}

/* nav 시작 */
.nav{}
li{float: left; background-color: #444;}
li:nth-child(2n){background-color: #111;}

li:first-child{border-radius: 10px 0 0 10px;}
li:first-child a:hover{border-radius: 10px 0 0 10px;}

li:last-child{border-radius: 0 10px 10px 0;}
li:last-child a:hover{border-radius: 0 10px 10px 0;}

li a{padding: 15px 53px; display: inline-block; color: #fff;}
li a:hover{background-color: #95c4e3; color: #e2e1e1;}

/* 가운데 콘텐츠 */
.cont{position: relative; width: 1200px; height: 480px; top: 100px;}
    .photo1{position: absolute;}
    .photo1 div{width: 370px; height: 440px; overflow: hidden; box-shadow: 8px 8px 12px #999;}
    .photo1 div img{width: 370px; height: 440px;}
    .photo1 div img:hover{transform: scale(1.2, 1.2); transition: all 0.3s;}

    .txt{position: absolute; width: 680px; height: 310px; left: 480px;}
    .txt h2{margin-bottom: 24px; color: #000;}
    .btn{width: 180px; height: 45px; border: 2px dotted red; background-color: #eee; color: red; text-align: center; line-height: 42px; font-size: 15px; margin-top: 30px;}
    .btn:hover{background-color: red; color: #fff; transition: all 0.3s;}

/* 포터 갤러리 */
.photo2{position: relative; margin-top: 100px;}
.photo2 div{display: inline-block; width: 222px; height: 164px; overflow: hidden; box-shadow: 4px 4px 9px #999; margin-right: 14px;}
.photo2 div img{width: 222px; height: 164px;}
.photo2 div img:hover{transform: scale(1.2, 1.2); transition: all 0.4s;}

/* 하부 컨텐츠 cont2 */
.cont2{
        position: relative; 
        width: 100%; 
        height: 1100px; 
        overflow: hidden;
        
    }
    .cont2 .cont2_txt1{
                        position: absolute;
                        font-family: "Allerta Stencil", serif;
                        font-size: 23rem; 
                        top: 350px;
                        color: #b4b4b4;
                        z-index: 554;
                    }
    .cont2 .cont2_txt2{
                        position: absolute;
                        font-size: 28px;
                        color: rgb(98, 98, 98);
                        top: 580px;
                        left: 10%;
                        z-index: 553;
                    }
    .cont2 .cont2_img{
                        position: absolute;
                        right: 10%;
                        z-index: 555;
                    }
    .cont2 .bg{
                position: absolute;
                width: 100%;
                height: 900px;;

            }

/* 하부 컨텐츠 cont3 */
.cont3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        position: relative;
    }
        .cont3 .cont3_txt{
                            position: absolute;
                            top: -60px;
                        }
        .cont3 img{
                    width: 22%;
                    height: 400px;
                    object-fit: cover;
                    background-color: #eee;
                }
        .cont3 img:hover{
                        transform: scale(1.02, 1.02);
                        transition: all 0.4s;
                        opacity: 0.8;
                        }

/* 하부 컨텐츠 cont4 */
.cont4{
        display: flex;
        margin-top: 30px;
    }
    .cont4 img{
                width: 33.333%;
                height: 500px;
                object-fit: cover;
            }

/* footer */
footer{
        display: flex;
        width: 100%;
        height: 150px;
        padding: 40px;
    }
    footer .footer1{width: 100px;}
    footer .footer2{flex: 1;
}

